langgraph
simple-salesforce
msgraph-sdk
slack-sdk
zenpy
langchain_openai
boto3
mcp
mcp-server
beautifulsoup4
langchain_text_splitters
langchain_community
docx
python-docx
ollama
htmldocx
taskgroup
langchain-mcp-adapters
python-dotenv
flask
langchain_aws